*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffffa0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
header{
    height: 70px;
    width: 100%;
    background-color: black;
    color: #fff;
}
.content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    padding-left: 40px;
    color: #12b11f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo span{
    color: #bcc92c;
}
.menu ul{
    display: flex;
    padding-top: 15px;
    padding-right: 20px;
}
.menu ul li{
    list-style: none;
    padding: 5px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    padding: 7px;
    border: 1px solid #fff;
    transition: 0.3s ease-in-out;
}
ul li.actif a{
    background-color: #fff;
    color: #000;
    padding: 15px;
}
main{
    overflow: hidden;
    width: 100%;
}
.welcome{
    background: linear-gradient(#12b11f,#2e457d,gray);
    width: 100%;
    display: flex;
}
.welcome h1{
    font-family: Arial, Helvetica, sans-serif;
}
.intro{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
}
.intro h2{
    padding-top: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #bcc92c;
    text-align: center;
}
.intro h3{
    padding-top: 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #12b11f82;
    text-align: center;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.serviceBox{
    background-color: #ffffffa0;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    max-height: 720px;
    width: 400px;
    padding-bottom: 20px;
}
.serviceBox img{
    height: 400px;
    width: 400px;
    border-radius: 10%;
}
.serviceBox h3{
    font-size: 25px;
    padding: 20px 0 20px 0;
    text-align: center;
}
.serviceBox p{
    font-size: 18px;
    padding: 20px 0 20px 0;
}
.categ{
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
figure{
    width: 400%;
    animation: 10s slide infinite;
    left: 0;
    position: relative;
}
.slide{
    width: 25%;
    float: right;
    overflow: hidden;
    display: flex;
    top: 120px;
    position: relative;
}
.slide h2{
    font-size: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.slide h1{
    color: #fff;
    font-size: 60px;
}
.slide img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

@keyframes slide{
    0%{left:o;}
    10%{left:o;}
    20%{left:-100%;}
    30%{left:-100%;}
    40%{left:-200%;}
    50%{left:-200%;}
    55%{left:-300%;}
    65%{left:-300%;}
    66%{left:-200%;}
    74%{left:-200%;}
    75%{left:-100%;}
    85%{left:-100%;}
    90%{left:o;}
    100%{left:o;}
}
.serviceText{
    display: block;
    width: 100%;
    padding-top: 100px;
}
.serviceText h1{
    color: #bcc92c;
}
.serviceText h2{
    padding-top: 20px;
}
.serviceMain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    flex-wrap: wrap;
    padding: 10px;
}
#abonnement, .abonn{
    background-color: #719bb6;
    height: 400px;
    width: 350px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
    margin-bottom: 30px;
    margin: 20px;
}
#abonnement:hover{
    padding: 20px;
}
#abonnement h1, .abonn h1{
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
}
#abonnement h2, .abonn h2{
    text-align: center;
    padding-top: 20px;
    background-color: #000;
    color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
}
#formation, .forma{
    background-color: #28a73d;
    height: 400px;
    width: 350px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
    margin-bottom: 30px;
    margin: 20px;
}
#formation:hover{
    padding: 20px;
}
#formation h1, .forma h1{
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
}
#formation h2, .forma h2{
    text-align: center;
    padding-top: 20px;
    background-color: #000;
    color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
}
.option{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.optionIntro{
    padding: 10px;
    flex-basis: 50%;
}
.form{
    display: block;
    align-items: center;
    justify-content: space-around;
    background-color: #12b11f61;
    margin-bottom: 40px;
    border-radius: 6px;
    width: 100%;
}
.form img{
    width: 70px;
    padding-left: 140px;
    padding-top: 10px;
}
form{
    width: 350px;
    height: 420px;
}
form h2{
    color: #bcc92c;
    text-transform: uppercase;
    text-align: center;
    padding-top:20px
}
form input{
    height: 30px;
    width: 300px;
    margin: 5px 0 5px 15px;
    padding: 5px;
    outline: hidden;
    border-bottom: 2px solid #12b11f;
    background-color: transparent;
    border-radius: 10px;
}
::placeholder{
    color: #000;
    font-size: 20px;
}
form .btn{
    margin-top: 20px;
    width: 310px;
    height: 40px;
    background-color: #000;
    color: #fff;
}

@media (max-width:800px) {
    header{
        height: 140px;
        
    }
    header .content{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .logo{
        border-bottom: 3px solid #bcc92c;
        width: 100%;
        padding: 10px 0 10px 0;
        text-align: center;
    }
    .menu{
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
}
.aboutMain{
    margin-top: 40px;
}
.aboutIntro{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutMain .aboutTitle{
    text-align: center;
    color: #8f9b12;
}
.aboutText h2, p{
    margin: 20px 0 5px 0;
}
.aboutText a{
    color: blue;
}
.messageMain img{
    position: relative;
    left: 47%;
    width: 70px;
    top: 40px;
}
.messageMain h1, h2{
    text-align: center;
    padding-top: 40px;
}
